.vc-slider-container {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
    padding-top: 42.3%;
}

.vc-slider-container > video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: none;
}

.vc-wiper-container {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
    padding-top: 42.3%;
}

.vc-wiper-container > video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.vc-wiper-container > div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
    background-color: white;
}

.vc-wiper-container > div > div {
    width: 99%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
}

.vc-wiper-container > div > div > video  {
    width: 100%;
    position: absolute;
    height: 100%;
    max-width: none;
    left: 0;
}